<!-- Navigation -->
<nav class="navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <span class="logo-text">SM</span>
        </div>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="/" class="nav-link active" data-section="home">Home</a>
            </li>
            <li class="nav-item">
                <a href="/#about" class="nav-link" data-section="about">About</a>
            </li>
            <li class="nav-item">
                <a href="/experience" class="nav-link" data-section="experience">Experience</a>
            </li>
            <li class="nav-item">
                <a href="/projects" class="nav-link" data-section="#">Projects</a>
            </li>
            <li class="nav-item">
                <a href="/blogs" class="nav-link" data-section="#">Blogs</a>
            </li>
            <li class="nav-item">
                <a href="#contact" class="nav-link" data-section="contact">Contact</a>
            </li>
            <li class="nav-item">
                <a href="https://github.com/shrikantmore123" target="_blank" class="nav-link">
                <img src="images/github.png" alt="github" height="20px">
            </a>
            </li>
            <li class="nav-item">
                <a href="https://www.linkedin.com/in/shrikantmore123" target="_blank" class="nav-link">
                <img src="images/linkedin.png" alt="linkedin" height="20px">
            </a>
            </li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>